.footer{
  display: flex;
  justify-content: center;
  height: 30px;
  background-color: #F4F2E9;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 11px;
  color: #666;
}

.footer-container{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer1{
  display: flex;
  align-items: center;
}

.footer2{
  display: flex;
  align-items: center;
}


.footer-links{
  text-align: center;
  text-decoration: none;
  padding: 7px 15px 7px 15px;
  color: #666;
}

.footer-links:hover{
  background-color: #382110;
  color: white;
}
