.site-content{
  position: absolute;
  top: 45px;
  min-height: calc(100vh - 75px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-direction: column;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.content-header{
  height: 36px;
  font-size: 20px;
  padding-bot: 5px;
  border-bottom: 1px solid #BBB596;
  color: #00635d;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.right-aside{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-header-link{
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #00635d;
  font-weight: 700;
  max-width: 840px;
  overflow: hidden;
  text-decoration: solid;
}

.main-header-link{
  text-decoration:none;
  display: inline-block;
}
.main-header-link:after{
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
  -webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
  -moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}

.main-header-link:hover:after{
  width: 100%;
  background: #00635d;
}


.whole-aside{
  margin-right: 20px;
}

.booktable{
  text-align: center;
  font-size: 40px;
}
