.nav-bar {
  position: fixed;
  top: 0px;
  background-color: #F4F2E9;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  color: #382110;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 500px;
  z-index: 50;
}

.nav-bar-main{
  width: 1200px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-logo{
  font-size: 30px;
  font-weight: 200;
  color: #95897d;
  font-family: "Lato", sans-serif;
}

.nav-logo.joy{
  margin-left: 16px;
}

.nav-logo.reads{
  font-weight: 340;
  color: #372211;
}

.nav-buttons{
  display: flex;
  text-align: center;
}

.nav-buttons > a, .nav-buttons >span{
  text-decoration: none;
  color: #382110;
  padding: 10px 15px 10px 15px;
  transition-property: background;
  box-sizing: border-box;
  transition-duration: .8s;
}

.nav-buttons > a:nth-child(2){
  min-width: 110px;
}

.footer-links{
  transition-property: background;
  transition-duration: .8s;
}

i {
  transition-duration: .5s;
}

.nav-buttons a:hover, .nav-buttons span:hover{
  color: white;
  background-color: #382110;
  cursor: pointer;
}
