

.review-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.font-opener{
  margin-right: 0;
  vertical-align: center;
  font-size: 14px;
  color: #00635d;
  text-decoration: none;
  line-height: 18px;
}

.font-opener{
  text-decoration:none;
  display: inline-block;
}

.font-opener:after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
  -webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
  -moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}

.font-opener:hover:after{
  width: 100%;
  background: #00635d;
}

.whole-user-review{
  width: 450px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #dedfe3;
  padding: 15px;
  min-height: 130px;
  margin-bottom: 30px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}

.form-open{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mine{
  width: calc(100% - 15px);
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #dedfe3;
  min-height: 130px;
  margin-bottom: 20px;
  margin-right: 0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}

.my-review-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.review-body{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 12px;
}

.mason-row.review-mason{
  display: flex;
  flex-direction: column;
  width: 465px;
}

.review-holder{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.book-reviews-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 18px;
  margin-top: 10px;
}

.r1{
  display: flex;
  flex-direction: column;

}

.form-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.review-contents{
  margin-top: 10px;
}

.review-input-form{
  width: 100%;
  padding: 5px;
  line-height: 18px;
  min-height: 50px;
  font-size: 12px;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}


.review-container-header{
  border-bottom: 1px solid lightgrey;
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: 500;
  font-family: "Merriweather", "Georgia", serif;
  color: #95897d;
}

.userlink.shelves{
  font-size: 16px;
}
