.sign-in-text{
  font-size: 50px;
  font-weight: 200;
}

.sign-in-text.reads{
  font-weight: 500;
}


.signup-form{
  display: flex;
}

.signup-mainbar-component{
  display: flex;
  width: 50%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.signup-form{
  align-items: center;
}

.signup-mainbar{
  display: flex;
}

.signup-form-input{
  font-size: 13px;
  padding: 5px;
  width: 120px;
  margin: 2px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
}

.sign-in-button {
  background-color: #382110;
  border-radius: 3px;
  border: 1px solid #382110;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 5px;
  margin-left: 3px;
}

.sign-in-button:hover{
  background-color: #58371F;
  cursor: pointer;
}

.create-account-form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 220px;
}

.lul-padding {
  height: 75px;
}

.slogan {
  height: 116px;
  width: 446px;
}

.form-component{
  width: 50%;
  min-width: 200px;
}

.session-bar-form{
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-left: 150px;
}

.create-form-input{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  width: 270px;
  padding: 7px 5px;
  font-size: 16px;
  border: #DCD6CC 1px solid;
  border-radius: 3px;
  margin: 3px;
}

.bottom-buttons{
  display:flex;
}

.session-button{
  font-size: 18px;
  font-weight: 30;
  padding: 5px 8px 5px 8px;
  box-sizing: border-box;
  width: 85px;
  background-color: #fdd05f;
  border: #DCD6CC 1px solid;
  border-radius: 3px;
  margin: 4px;
}

.demo{
  width: auto;
}

.session-button:hover{
  background-color: #fdd05f9c;
  cursor: pointer;
}

span.session-button{
  font-weight: bold;
}

.thin-text{
  font-weight: 350;
  font-size: 18px;
  margin: 3px 3px 2px 5px;
}

.fat-text{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 56px;
  width: 450px;
  text-align: center;
}
