.Dropdown-root {
  position: relative;
  text-align: left;
  width: 130px;
}

.Dropdown-control {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 20px 8px 0px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: -10%;
  width: 120%;
  z-index: 10;
  max-height: 500px;
  overflow-y: auto;
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
}

.dropdown-hack{
  font-size: inherit;
  align-self: center;
  text-align: center;
  z-index: 20;
  transition-duration: 0s;
}

.fa.fa-plus-circle, .fa.fa-minus-circle{
  font-size: 16px;
}

.fa.fa-plus-circle.biggerdropdown{
  font-size: 20px;
}

.fa.fa-minus-circle.biggerdropdown{
  font-size: 20px;
}

.fa.fa-plus-circle{
  color: springgreen;
  font-size: 16.2px;
}

.fa.fa-minus-circle{
  color: #f16a6a;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  display: flex;;
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover{
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.Dropdown-root.biggerdropdown{
  width: 100%;
  font-size: 20px;
}

.Dropdown-control.biggerdropdown{
  width: 200px;
  font-size: 16px;
}

.Dropdown-placeholder{
  padding-left: 5px;
}

.dropdown-derp{
  padding-left: 5px;
}

.dropdown-derp.biggerdropdown{
  padding-left: 10px;
}

.take-all-space{
  display: flex;
  box-sizing: border-box;
  padding-left: 5px;
}

.take-all-space.biggerdropdown{
  padding-left: 10px;
}

.take-all-space.delete{
  color: crimson;
}

.align-this{
  padding-left: 5px;
}


.Dropdown-menu.biggerdropdown{
  font-size: 16px;
  width: 125%;
}
